extends layout.pug

block content

  article.portfolio-intro
 
    h1 My Portfolio

    p A set of my projects made with HTML, CSS, JavaScript:


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in data
        .cell
          a(href=`project/${project.id}`)
            img(src=project.img_main, alt=project.project_name)
            h5= project.project_name
